{:paths ["src"]

 :deps {vvvvalvalval/scope-capture {:mvn/version "0.3.3"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.72.1136"}}
   :jvm-opts    ^:replace ["-XX:-OmitStackTraceInFastThrow"]}

  :run-kaocha
  {:main-opts  ["-m" "kaocha.runner" "--config-file" "test/test.edn"]}}}
